services:
  onfuture-app:
    image: onfuture-web:latest
    restart: unless-stopped
    environment:
      PORT: "6985"
      HOST: "0.0.0.0"
    volumes:
      - /datastore/onfuture-web/logs.json:/app/logs.json
    networks:
      - edge
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=edge'
      - 'traefik.http.routers.onfuture-app.rule=(Host(`onfuture.az`) || Host(`www.onfuture.az`))'
      - 'traefik.http.routers.onfuture-app.entrypoints=web'
      - 'traefik.http.services.onfuture-app.loadbalancer.server.port=6985'

networks:
  edge:
    external: true
